@charset 'utf-8';

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

/* common class*/

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: $contents-width;
}

@media screen and (max-width: $contents-width-m) {
  .container {
    max-width: $contents-width-m;
  }

  .display-none-m {
    display: none;
  }
}

.emptybox {
  background-color: pink;
  min-height: 200px;
}
