@charset 'utf-8';

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: $contents-width;
}

@media screen and (max-width: $contents-width-m) {
  .container {
    max-width: $contents-width-m;
  }
}

.emptybox {
  background-color: pink;
  min-height: 200px;
}
