@charset 'utf-8';

/* layout */
$contents-width: 1140px;
$contents-width-m: 480px;

/* color */
$primary: #00c854;
$secondary: #e1e4e7;

$gray-900: #212529;
$gray-800: #282c30;
$gray-700: #495057;
$gray-600: #7e848a;
$gray-500: #adb5bd;

$white: #fff;
